# Ï†ÑÏ≤òÎ¶¨

In [2]:
import numpy as np
import pandas as pd

## Îç∞Ïù¥ÌÑ∞ Ïù∏ÏΩîÎî©(Encoding)

### Îç∞Ïù¥ÌÑ∞ ÌÉÄÏûÖ 

Îç∞Ïù¥ÌÑ∞Îäî ÌÅ¨Í≤å 2Í∞ÄÏßÄ ÌòïÌÉúÎ°ú ÎÇòÎâ©ÎãàÎã§.
- ÏàòÏπòÌòï(Numerical)
- Î≤îÏ£ºÌòï(Categorical)

> üìà **Numerical (ÏàòÏπòÌòï) Îç∞Ïù¥ÌÑ∞**
> - Discrete (Ïù¥ÏÇ∞Ìòï, Î∂àÏó∞ÏÜçÌòï) Îç∞Ïù¥ÌÑ∞  
     : Ïà´ÏûêÎ°ú ÏÖÄ Ïàò ÏûàÎäî Í≤É, ÌäπÏ†ï Í∞í, Ï†ïÏàòÌòïÌÉú (1Í∞ú, 2Î™Ö Îì±)
>- Continuous (Ïó∞ÏÜçÌòï) Îç∞Ïù¥ÌÑ∞  
     : Ï∏°Ï†ïÌï¥Ïïº ÌïòÎäî Í≤É, Ïó∞ÏÜç Î≤îÏúÑ ÎÇ¥ Ïã§ÏàòÍ∞í (Ïò®ÎèÑ(21.3‚ÑÉ), Î¨¥Í≤å(72.5kg), Í∏∏Ïù¥(183m), ÎπÑÏú®(57%) Îì±)

> üìä **Categorical (Î≤îÏ£ºÌòï) Îç∞Ïù¥ÌÑ∞**
> - Nominal (Î≤îÏ£ºÌòï) Îç∞Ïù¥ÌÑ∞  
     : ÏàúÏÑúÍ∞Ä ÏóÜÎäî Í≤É (ÏÑ±Î≥Ñ, ÎèôÎ¨ºÏùò Ï¢ÖÎ•ò Îì±)  
> - Ordinal (ÏàúÏÑúÌòï) Îç∞Ïù¥ÌÑ∞  
     : ÏàúÏÑúÍ∞Ä ÏûàÎäî Í≤É (ÏàòÎä• Îì±Í∏â, Ï¢åÏÑù Îì±Í∏â, ÏàúÏúÑ Îì±)

ÌïòÏßÄÎßå, Í∏∞Î≥∏Ï†ÅÏù∏ Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÄ categorical_data Î•º ÏûÖÎ†•Í∞íÏúºÎ°ú ÌôúÏö©Ìï† Ïàò ÏóÜÏäµÎãàÎã§.
Îî∞ÎùºÏÑú, categorical data Î•º numerical ÌïòÍ≤å Î≥ÄÌôòÌï¥Ï£ºÎäî Ï†ÑÏ≤òÎ¶¨ ÏûëÏóÖ(preprocessing)Ïù¥ ÏÑ†ÌñâÎêòÏñ¥ÏïºÌï©ÎãàÎã§. Ïù¥Îü¨Ìïú Ï†ÑÏ≤òÎ¶¨ÏûëÏóÖÏùÑ Ïù∏ÏΩîÎî© ÏûëÏóÖÏù¥ÎùºÌï©ÎãàÎã§.

### Ïù∏ÏΩîÎî© Î∞©Î≤ï 

- `sklearn` LabelEncoder 
- `pandas` pd.get_dummies
- `pandas` `map` Ïù¥Ïö©ÌïòÍ∏∞

- pd.get_dummies
#### ‚ë¢ **pandas**Ïùò **get_dummies**  Ïù¥Ïö©ÌïòÍ∏∞ üî©

ÏúÑÏôÄ Í∞ôÏùÄ Ïù∏ÏΩîÎî©(Ï†ÑÏ≤òÎ¶¨) Î∞©Î≤ï Îëê Í∞úÎäî Í∞ÑÎã®ÌïòÍ≥† ÏßÅÍ¥ÄÏ†ÅÏù¥ÏßÄÎßå, Ìïú Í∞ÄÏßÄ Î¨∏Ï†úÍ∞Ä ÏûàÏäµÎãàÎã§ ‚õî

> **[ Îß§Ïö∞ Ïã´Îã§ -> 1, Î≥¥ÌÜµÏù¥Îã§ -> 3 , Îß§Ïö∞ Ï¢ãÎã§ -> 5Ï†ê ]** Ï≤òÎüº  
ordianalÌïú Îç∞Ïù¥ÌÑ∞ÏóêÎäî Ï†ÅÌï©ÌïòÏßÄÎßå, (*ÏàúÏÑú ÎòêÎäî Îì±Í∏â Êúâ)

> **[ Îπ®Í∞ï -> 1, ÌååÎûë -> 2, Ï¥àÎ°ù -> 3 ]** Ï≤òÎüº  
nominalÌïú Îç∞Ïù¥ÌÑ∞ÏóêÎäî Ï†ÅÌï©ÌïòÏßÄ ÏïäÏäµÎãàÎã§. (*ÏàúÏÑú ÎòêÎäî Îì±Í∏â ÁÑ°)

> Îπ®Í∞ï, ÌååÎûë, Ï¥àÎ°ùÏù¥ÎùºÎäî ÏÉâÍπîÎì§ ÏÇ¨Ïù¥ÏóêÎäî Ïñ¥Îñ†Ìïú ÏàúÏÑúÎÇò Îì±Í∏âÎèÑ ÏóÜÏßÄÎßå,  
ÏúÑÏùò Î∞©Î≤ïÎì§Î°ú Î≥ÄÌôòÌïòÎ©¥ Ï¥àÎ°ùÍ∞íÏù¥ Í∞ÄÏû• ÌÅ¨Îã§ÎçòÏßÄ,  
"(Ï¥àÎ°ùÍ∞í) - (ÌååÎûëÍ∞í) = (Îπ®Í∞ïÍ∞í)" Îì±Ïùò **Í¥ÄÍ≥Ñ**Í∞Ä ÏÉùÍ∏∞Í∏∞ ÎïåÎ¨∏ÏûÖÎãàÎã§.  
Î®∏Ïã†Îü¨Îãù Î™®Îç∏ÏùÄ Î≥ÄÌôòÎêú Ïà´ÏûêÎ•º Î∞îÌÉïÏúºÎ°ú ÌïôÏäµÌïòÍ∏∞ ÎïåÎ¨∏Ïóê, ÏûòÎ™ªÌïòÎ©¥ ÏúÑÏùò Í¥ÄÍ≥Ñ(ÌäπÏÑ±)Î•º ÌïôÏäµÌï¥ Î≤ÑÎ¶ΩÎãàÎã§ üò≠üò≠  
Ïù¥Îäî ÎÖºÎ¶¨Ï†ÅÏúºÎ°ú Î¨∏Ï†úÍ∞Ä ÏûàÏùÑ ÎøêÎßå ÏïÑÎãàÎùº, Ïã§Ï†ú Î™®Îç∏Ïùò ÏÑ±Îä•ÎèÑ Ïûò ÏïàÎÇòÏò§Í≤å Îê©ÎãàÎã§. 

**üí° Îî∞ÎùºÏÑú nominalÌïú Îç∞Ïù¥ÌÑ∞ Î≥ÄÌôòÏùÑ ÏúÑÌï¥ÏÑúÎäî**, Ïà´ÏûêÏù¥Í∏∞Îäî ÌïòÏßÄÎßå **ÏÑúÎ°ú 'Í¥ÄÍ≥ÑÏóÜÎäî' Ïà´ÏûêÎ°ú Î≥ÄÌôò**Ìï¥ Ï£ºÏñ¥ÏïºÌï©ÎãàÎã§.  

> - `pd.get_dummies(Îç∞Ïù¥ÌÑ∞ÏÖã.ÌÉÄÍ≤üÏó¥, prefix='ÌÉÄÍ≤üÏó¥')`

![ÏòàÏãú](https://www.mwbrady.com/post/encodingcategoricaldata/Untitled-5f6d339d-ce4a-4533-8b67-c4e688b85ce0.png)

- map

### LabelEncoder

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame(
    {'pName':['ÎÉâÏû•Í≥†','TV','ÏóêÏñ¥Ïª®','ÎÉâÏû•Í≥†','ÎÖ∏Ìä∏Î∂Å','Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞'],
     'price':[100,80,150,100,50,40]}
)

df

   pName  price
0    ÎÉâÏû•Í≥†    100
1     TV     80
2    ÏóêÏñ¥Ïª®    150
3    ÎÉâÏû•Í≥†    100
4    ÎÖ∏Ìä∏Î∂Å     50
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40

In [5]:
from sklearn.preprocessing import LabelEncoder # Ìï®Ïàò Î∂àÎü¨Ïò§Í∏∞ 
le = LabelEncoder() # Ï†ïÏùò 
# fit_transform ÎùºÎ≤® Ïù∏ÏΩîÎî© ÏãúÌñâ 
incode_name = le.fit_transform(df.pName)# Í∞Å Í∞íÎì§Í≥º ÏΩîÎìúÏùò Îß§Ìïë Í¥ÄÍ≥Ñ ÏÉùÏÑ± ÌõÑ Î≥ÄÌôò

In [7]:
# pid ÎùºÎäî Ïó¥ ÎßåÎì§Í≥† Í∞í ÎÑ£Í∏∞ 
df['pid'] = incode_name
df

   pName  price  pid
0    ÎÉâÏû•Í≥†    100    2
1     TV     80    0
2    ÏóêÏñ¥Ïª®    150    4
3    ÎÉâÏû•Í≥†    100    2
4    ÎÖ∏Ìä∏Î∂Å     50    3
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40    1

In [8]:
print('Encoding Class : ', le.classes_)
print('Decoding Class: ', incode_name )

Encoding Class :  ['TV' 'Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞' 'ÎÉâÏû•Í≥†' 'ÎÖ∏Ìä∏Î∂Å' 'ÏóêÏñ¥Ïª®']
Decoding Class:  [2 0 4 2 3 1]

### OneHotEncoder

In [14]:
df

   pName  price  map_name
0    ÎÉâÏû•Í≥†    100         2
1     TV     80         0
2    ÏóêÏñ¥Ïª®    150         4
3    ÎÉâÏû•Í≥†    100         2
4    ÎÖ∏Ìä∏Î∂Å     50         3
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40         1

In [23]:
# ÏõêÌï´Ïù∏ÏΩîÎî© pd.get_dummies
df_dummies = pd.get_dummies(df)  # originÏóê ÏÜçÌïú Ïπ¥ÌÖåÍ≥†Î¶¨(ÏõêÏÇ∞ÏßÄ)Î≥ÑÎ°ú ÏÉàÎ°úÏö¥ comlumn(Ïó¥)Ïù¥ ÏÉùÍπÄ
df_dummies

,price,map_name,example,example_2,pName_TV,pName_Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,pName_ÎÉâÏû•Í≥†,pName_ÎÖ∏Ìä∏Î∂Å,pName_ÏóêÏñ¥Ïª®
0,100,2,200,300,0,0,1,0,0
1,80,0,160,240,1,0,0,0,0
2,150,4,300,450,0,0,0,0,1
3,100,2,200,300,0,0,1,0,0
4,50,3,100,150,0,0,0,1,0
5,40,1,80,120,0,1,0,0,0

In [27]:
# pd.concat
pd.concat([df,df_dummies], axis=1)

,pName,price,pid,map_name,price,pid,pName_TV,pName_Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,pName_ÎÉâÏû•Í≥†,pName_ÎÖ∏Ìä∏Î∂Å,pName_ÏóêÏñ¥Ïª®
0,ÎÉâÏû•Í≥†,100,2,2,100,2,0,0,1,0,0
1,TV,80,0,0,80,0,1,0,0,0,0
2,ÏóêÏñ¥Ïª®,150,4,4,150,4,0,0,0,0,1
3,ÎÉâÏû•Í≥†,100,2,2,100,2,0,0,1,0,0
4,ÎÖ∏Ìä∏Î∂Å,50,3,3,50,3,0,0,0,1,0
5,Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞,40,1,1,40,1,0,1,0,0,0

### Map

In [10]:
# pid Ïª¨Îüº ÏÇ≠Ï†ú

In [11]:
df

   pName  price
0    ÎÉâÏû•Í≥†    100
1     TV     80
2    ÏóêÏñ¥Ïª®    150
3    ÎÉâÏû•Í≥†    100
4    ÎÖ∏Ìä∏Î∂Å     50
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40

In [12]:
# df = df.drop(['pid'], axis=1)
# pandas ÏóêÏÑú map Ïù¥ÎûÄ ?
# Î™®Îì† Í∞ÅÍ∞ÅÏùò ÏõêÏÜåÎ•º ~  == map 
# {} = dict
# { key1: value1 , key2: value2, key3: value3}
df['map_name'] = df['pName'].map({'TV':0,'Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞':1,'ÎÉâÏû•Í≥†':2,'ÎÖ∏Ìä∏Î∂Å':3,'ÏóêÏñ¥Ïª®':4 })

In [20]:
df

   pName  price  map_name  example  example_2
0    ÎÉâÏû•Í≥†    100         2      200        300
1     TV     80         0      160        240
2    ÏóêÏñ¥Ïª®    150         4      300        450
3    ÎÉâÏû•Í≥†    100         2      200        300
4    ÎÖ∏Ìä∏Î∂Å     50         3      100        150
5  Í≥µÍ∏∞Ï≤≠Ï†ïÍ∏∞     40         1       80        120

<div class="alert alert-success" data-title="">
  <h2><i class="fa fa-tasks" aria-hidden="true"></i> Ïã§Ï†úÎç∞Ïù¥ÌÑ∞Ïóê Ïù∏ÏΩîÎî©Ìï¥Î≥¥Í∏∞ 
  </h2>
</div>

- Excercise 0: smoker,day, time Ïª¨Îüº ÎìúÎûçÌïòÏó¨ tips ÎßåÎì§Í∏∞ 
- Excercise 1: total_bilÏùò Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞('sex') Î•º ÏàòÏπòÌòïÏúºÎ°ú Î∞îÍæ∏Í∏∞ 
- Excercise 2: X,y ÏÑ§Ï†ï ( y = total_bil // ÎÇòÎ®∏ÏßÄÎ•º x Î°ú )
```python 
X = tips.drop(['total_bil'], axis=1)
y = tips.total_bil
```


<!-- - Excercise 3: xÎ•º minmax scale ÌïòÍ∏∞  -->
- Excercise 4: train_test_split ÎπÑÏú® 0.3
- Excercise 5: LinearRegression Î™®Îç∏Î°ú `total_bill` ÏòàÏ∏°Ìï¥Î≥¥Í∏∞ 
- Excercise 6: r2 Ïä§ÏΩîÏñ¥Î°ú ÌèâÍ∞ÄÌïòÍ∏∞

In [79]:
import seaborn as sns # Í∑∏Î¶º Ìå®ÌÇ§ÏßÄ
tips = sns.load_dataset('tips') # ÎÇ¥Ïû• Îç∞Ïù¥ÌÑ∞ 
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [80]:
tips.day.unique()

[Sun, Sat, Thur, Fri]
Categories (4, object): [Sun, Sat, Thur, Fri]

In [56]:
# Excercise 0: smoker,day, time Ïª¨Îüº ÎìúÎûçÌïòÏó¨ tips ÎßåÎì§Í∏∞
# sol1) ÏÑ†ÌÉù 
# tips = tips[['total_bill','tip','sex','size']]
# sol2) ÎìúÎûç 
tips = tips.drop(['smoker','day','time'], axis=1)
tips

     total_bill   tip     sex  size
0         16.99  1.01  Female     2
1         10.34  1.66    Male     3
2         21.01  3.50    Male     3
3         23.68  3.31    Male     2
4         24.59  3.61  Female     4
..          ...   ...     ...   ...
239       29.03  5.92    Male     3
240       27.18  2.00  Female     2
241       22.67  2.00    Male     2
242       17.82  1.75    Male     2
243       18.78  3.00  Female     2

[244 rows x 4 columns]

In [51]:
# Excercise 1: total_bilÏùò Î≤îÏ£ºÌòï Îç∞Ïù¥ÌÑ∞('sex') Î•º ÏàòÏπòÌòïÏúºÎ°ú Î∞îÍæ∏Í∏∞
# 1. map 
print(tips.sex.unique())
tips.sex = tips.sex.map({'Female':0, 'Male':1})
tips

In [52]:
# 2. sklearn.
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder() #  Ï†ïÏùò 
decode = le.fit_transform(tips.sex) # Î≥ÄÌôò

# decode Í∞í Ï∂îÍ∞Ä 
tips['d_sex'] = decode

# ÏõêÎûò Ïª¨Îüº ÏÇ≠Ï†ú 
tips = tips.drop(['sex'], axis=1)

In [60]:
# tips['sex'] == tips.sex
# tips['Ìïú Í∏Ä'] == tips.Ìïú Í∏Ä <--- error
# 3. pd.get_dummies() : ÏõêÌï´Ïù∏ÏΩîÎî© 
tmp = pd.get_dummies(tips['sex'])
tmp.head(3)

   Male  Female
0     0       1
1     1       0
2     1       0

In [62]:
# ÏÇ≠Ï†ú 
tips = tips.drop(['sex'],axis=1)
tips.head(1)

   total_bill   tip  size
0       16.99  1.01     2

In [64]:
# Î∂ôÏù¥Í∏∞ pd.concat([Î∂ôÏûÑ1, Î∂ôÏûÑ2], axis=1)
# Î∂ôÏûÑ1Í≥º Î∂ôÏûÑ2Î•º Ìï©ÏπòÎäîÎç∞ Ïó¥Î°ú Ìï©Ïπ® 
tips = pd.concat([tips,tmp] ,axis=1)

In [65]:
tips

     total_bill   tip  size  Male  Female
0         16.99  1.01     2     0       1
1         10.34  1.66     3     1       0
2         21.01  3.50     3     1       0
3         23.68  3.31     2     1       0
4         24.59  3.61     4     0       1
..          ...   ...   ...   ...     ...
239       29.03  5.92     3     1       0
240       27.18  2.00     2     0       1
241       22.67  2.00     2     1       0
242       17.82  1.75     2     1       0
243       18.78  3.00     2     0       1

[244 rows x 5 columns]

In [67]:
# X, y ÏÑ§Ï†ï 
X = tips.drop('total_bill',axis=1)
y = tips['total_bill']

In [77]:
# Excercise 4: train_test_split ÎπÑÏú® 0.3
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y,
                                                    test_size=0.3,
                                                    random_state=42)

In [78]:
# Excercise 5: LinearRegression
from sklearn.linear_model import ElasticNet
model = ElasticNet() # Ï†ïÏùò
model.fit(X_train, y_train) # ÌïôÏäµ 

# Excercise 6: r2 Ïä§ÏΩîÏñ¥Î°ú ÌèâÍ∞ÄÌïòÍ∏∞
model.score(X_test, y_test)

0.5257330656693666